@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page {
    size: A4;
  }
}

#EDITOR ul {
  @apply list-disc mr-4;
}
#EDITOR hr {
  @apply bg-muted-foreground/90 h-[1px] my-1;
}
#EDITOR mark {
  @apply bg-primary-orange text-primary-orange-foreground;
}
#EDITOR table {
  @apply table-auto w-full mx-auto border p-1 bg-muted;
}
#EDITOR tr {
  @apply border border-foreground h-10;
}
#EDITOR th {
  @apply border border-foreground bg-secondary min-w-5 text-center;
}
#EDITOR td {
  @apply border border-foreground text-center;
}
#EDITOR h1 {
  @apply text-2xl;
}
#EDITOR h2 {
  @apply text-xl;
}
#EDITOR h3 {
  @apply text-lg;
}
.ProseMirror:focus-visible {
  @apply !outline-none border-transparent border-r-primary border-2 pr-2;
}

:root {
  --background: 190 7% 95%; /* #F2F5F9 */
  --foreground: 190 5% 10%; /* #1A1A1A */
  --card: 190 7% 94%; /* #F0F3F9 */
  --card-foreground: 190 5% 15%; /* #2E2E2E */
  --popover: 190 7% 95%; /* #F2F5F9 */
  --popover-foreground: 190 95% 10%; /* #FFF2F2 */
  --primary: 190 98.9% 36.9%; /* #0033AA */
  --primary-foreground: 0 0% 100%; /* #FFFFFF */
  --secondary: 190 10% 90%; /* #E6ECF7 */
  --secondary-foreground: 0 0% 0%; /* #000000 */
  --muted: 152 10% 94%; /* #F5F8FC */
  --muted-foreground: 190 5% 40%; /* #666666 */
  --accent: 152 10% 90%; /* #E6ECF7 */
  --accent-foreground: 190 5% 15%; /* #2E2E2E */
  --destructive: 0 50% 50%; /* #FF8080 */
  --destructive-foreground: 190 5% 94%; /* #F0F3F9 */
  --border: 190 20% 82%; /* #C8D6E9 */
  --input: 190 20% 50%; /* #8096B8 */
  --ring: 190 98.9% 36.9%; /* #0033AA */
  --radius: 0.75rem;
  /*  */
}

.orange {
  --background: 17 0% 100%; /* #FFFEFF */
  --foreground: 17 0% 10%; /* #1A1A1A */
  --card: 17 0% 100%; /* #FFFEFF */
  --card-foreground: 17 0% 15%; /* #2E2E2E */
  --popover: 17 0% 100%; /* #FFFEFF */
  --popover-foreground: 17 95% 10%; /* #FFF2F2 */
  --primary: 17 100% 49.6%; /* #FF7900 */
  --primary-foreground: 0 0% 100%; /* #FFFFFF */
  --secondary: 17 10% 90%; /* #FFE6D9 */
  --secondary-foreground: 0 0% 0%; /* #000000 */
  --muted: -21 10% 95%; /* #FFFBF5 */
  --muted-foreground: 17 0% 40%; /* #666666 */
  --accent: -21 10% 90%; /* #FFE6D9 */
  --accent-foreground: 17 0% 15%; /* #2E2E2E */
  --destructive: 0 50% 50%; /* #FF8080 */
  --destructive-foreground: 17 0% 100%; /* #FFFEFF */
  --border: 17 20% 82%; /* #C8D6E9 */
  --input: 17 20% 50%; /* #8096B8 */
  --ring: 17 100% 49.6%; /* #FF7900 */
  --radius: 0.75rem;
}
